.u-section-1 {
  background-image: url("images/BSS3.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 991px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 291px -161px 60px 785px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 685px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 485px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 385px;
  }
}